<div class="container">
  <h2>Log an Entry</h2>

  <form role="form" ng-submit="log()" data-toggle="validator">


    <div class="radio">
      <label>
        <input type="radio" name="optionsRadios" id="optionsRadios1" ng-model="payload.entry_type" value="C" checked>
        Consumed
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="optionsRadios" id="optionsRadios2" ng-model="payload.entry_type" value="E">
        Exercised
      </label>
    </div>

    <fieldset class="form-group form-group-lg">
      <label for="calories">Number of Calories</label>
      <input type="number" ng-model="payload.calories" class="form-control" id="calories" placeholder="Example: 300" required="">
      <small class="text-muted help-block with-errors"></small>
    </fieldset>

    <fieldset class="form-group form-group-lg">
      <label for="note">Note</label>
      <input type="text" ng-model="payload.note" class="form-control" id="note" placeholder="Example: Sandwich">
      <small class="text-muted help-block with-errors"></small>
    </fieldset>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
