<div class="jumbotron">
  <h1>Bo.gg</h1>
  <p class="lead">
    An open source calorie tracker for nerds.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Get Started<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">
  <h4>Designed for the command line</h4>
  <p>
  Since I spend most of the day at the terminal, I wanted something
  that would make it easy to enter my calories quickly and efficiently.
  </p>

  <h4>Open source, massively extensible</h4>
  <p>
      With a simple, well documented API. It's easy to create apps
      to make tracking even easier.
  </p>

  <h4>Free, secure, private</h4>
  <p>Most importantly, it's free.</p>
</div>
